  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Github */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
   /* Background */
  .container {
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .content {
    height: 30%;
    width: 25%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Botão Jogar*/
  button {
    background-color: #1d0ea9;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1171a9;
  }
  
  